<div id="pups" class="transitions-enabled">
  <% @pups.each do |pup| %>
    <div class="box panel panel-default">
      <%= image_tag pup.image.url(:medium) %>
      <div class="panel-body">
        <%= pup.description %>
        <%= pup.user.email if pup.user %>
        <%= link_to 'Show', pup_path(pup) %>
        <% if pup.user == current_user %>
          <%= link_to 'Edit', edit_pup_path(pup) %>
          <%= link_to 'Destroy', pup, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>