<h1>Listing pups</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pups.each do |pup| %>
      <tr>
        <td><%= image_tag pup.image.url(:medium) %></td>
        <td><%= pup.description %></td>
        <td><%= pup.date %></td>
        <td><%= pup.user.email if pup.user %></td>
        <td><%= link_to 'Show', pup_path(pup) %></td>
         <% if pup.user == current_user %>
        <td><%= link_to 'Edit', edit_pup_path(pup) %></td>
        <td><%= link_to 'Destroy', pup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<% if user_signed_in? %>
  <%= link_to 'New Pup', new_pup_path %>
<% end %>
