<h1>Listing pups</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pups.each do |pup| %>
      <tr>
        <td><%= pup.description %></td>
        <td><%= pup.date %></td>
        <td><%= link_to 'Show', pup %></td>
        <td><%= link_to 'Edit', edit_pup_path(pup) %></td>
        <td><%= link_to 'Destroy', pup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pup', new_pup_path %>
