<p id="notice"><%= notice %></p>

<%= image_tag @pup.image.url (:medium) %>

<p>
  <strong>Description:</strong>
  <%= @pup.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @pup.date %>
</p>

<%= link_to 'Edit', edit_pup_path(@pup) %> |
<%= link_to 'Back', pups_path %>
